@model Expediente

<h1>Eliminar Expediente</h1>

<h3>seguro que quieres eliminar este registro</h3>
<div>
    <h4>Expediente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_Expediente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero_Expediente)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_creacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_creacion)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </form>
</div>